<html>
  <head>
    <%- include('./base/headTag') %>
  </head>

  <body>
    <%- include('./base/header') %>
    <div class="formContain">
      <form action= <%= routes.editProfile %> method="post">
        <input type="email" name="email" placeholder="이메일(아이디)">
        <input type="text" name="name" placeholder="이름">
        <input type="number" name="parentPhone" placeholder="부모님 번호">
        <input type="number" name="childPhone" placeholder="아이 번호">
        <input type="submit" value="정보 수정하기">
        <a href=<%= routes.changePassword %>>비밀번호 변경하기</a>
      </form>
    </div>
  </body>
  <%- include('./base/footer') %>
</html>
