<html>
  <head>
    <%- include('./base/headTag') %>
  </head>

  <body>
    <%- include('./base/header') %>
    <h1>home 입니다 URL 테스트</h1>
    <a href=<%= routes.users %>><button>user</button></a>
    <a href=<%= routes.join %>><button>join</button></a>
    <a href=<%= routes.login %>><button>login</button></a>
    <a href=<%= routes.editProfile %>><button>editProfile</button></a>
    <a href=<%= routes.search %>><button>search</button></a>
    <a href=<%= routes.UserDetail %>><button>UserDetail</button></a>
    <a href=<%= routes.changePassword %>><button>changePassword</button></a>
    <a href=<%= routes.users %>><button>user</button></a>
    <%- include('./base/users') %>
  </body>
  <%- include('./base/footer') %>
</html>
