<head>
    <div>
        <a href=<%= routes.home %>>home</a>
    </div>
    <div>
        <div>
            <form action=<%= routes.search %> method="get">
                <input type="text" placeholder="검색" name="bar">
            </form>
            <a href=<%= routes.search %>>search</a>
        </div>
        <ul>
            <% if (!user.isAuth) { %>
                <li >
                    <a href=<%= routes.join %>>join</a>
                </li>
                <li >
                    <a href=<%= routes.login %>>login</a>
                </li>
            <% } else { %>
                <li >
                    <a href=<%= routes.userDetail(user.id) %>>내정보</a>
                </li>
                <li >
                    <a href=<%= routes.logout %>>logout</a>
                </li>
            <% } %>
        </ul>
    </div>
</head>